#confirmed{
    height: 100vh;
    width: 100vw;
    background-color: #0E0A14EF;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms;
}

/*proffy-confirmed.html*/
#confirmed.classes-confirmed .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#confirmed.classes-confirmed h1{
    color: white;
    margin-top: 32px;
}
